* {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Aclonica', sans-serif;   
    font-family: 'Righteous', cursive;  */
}

p{
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

.landing {
    margin-top: 100px;
}

#navbarToggle {
    background-color: #000;
}

.navbar.navbar-dark .nav-item .nav-link { 
    background-color: #000;
} 
.mynavitems{
    font-family: 'Aclonica', sans-serif;
    font-size: 20px; 
}
#category1{
    color: rgb(10, 167, 240);
}

.navbar.navbar-dark .nav-item .nav-link:hover { 
    color: #fff!important; 
    background-color: #000;
}

.navbar {
    background-color: #000!important;
}

.navbar-nav {
    background-color: #000;
    font-family: 'Aclonica', sans-serif;
}

.navbar-brand {
    background-color: #000;
}

.lg {
    background-color: #000;
    font-size: xx-large;
}

.author {
    font-size: 12px;
}

.date {
    font-size: 12px;
}

.article-card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    color: #000;
    background-color: #fff;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 10px;
    margin-top: 15px;
}
.img {
    width: 100%;
}

#homecardimg{
    height:220px ;
}

.card-img{
    height: 280px;
}

.cardfooter {
    padding: 0.75rem 1.25rem;
    padding-bottom: 0px;
    border-radius: 0px 0px 10px 10px;
}

.article_name {
    color: #dfdcd9;
}

.source-body {
    margin-bottom: 30px;
}

.source {
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: #dd0000;
}

.logo {
    font-size: 25px; 
    color: rgb(5, 146, 228); 
    font-weight: bolder; 
    letter-spacing: 1px; 
    font-family: 'Aclonica', sans-serif;
    background-color: #000;
}

.svg {
    background-color: #000;
}

.p-svg {
    background-color: #26262a;
}

.footer {
    color: white; 
    padding: 4px 0px; 
    margin-bottom: 5px;
}

.dropdown-menu {
    background-color: black;
}

.dropdown-item {
    color: rgb(11, 102, 238);
    font-family: 'Aclonica', sans-serif;
    font-size: 16px; 
}

.dropdown-item:hover {
    color: #fff;
    background-color: #505052;
}
